<!DOCTYPE html>
<html>

<head>

    <title>Index</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
{{!-- {{>header}} --}}

    <img src="./img/band.jpg">
    <h1>{{title}}</h1>

<form>
    <input placeholder="location">
    <button>Search</button>
</form>

    <script src="/js/scripts.js"></script>
</body>

</html>